
<!-- <mat-sidenav-container>
        <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <section>Main</section>
</mat-sidenav-container> -->
<!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div *cdkVirtualFor="let item of items" class="example-item">{{item}}</div>
</cdk-virtual-scroll-viewport> -->

<!-- <mat-card>  
  <div class="container">  
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"  
    style="height: 400px; overflow-y: scroll;">  
      <div *ngFor="let item of myPhotosList" class="col-md-4" style="margin-top: 10px;">  
        <img style="height: 220px;width: 315px;" src="{{item.url}}" />  
      </div>  
    </div>  
  </div>  
</mat-card> -->