<div class="beimg">
	<div class="centerdiv">
		<img id="profilepic" src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/user-128.png" alt="">
		<h2>User Login</h2>
		<form action="">
			<div>
				<input type="text" name="" class="inputbox" placeholder="Username">
			</div>
			<br>
			<div>
				<input type="password" name="" class="inputbox" placeholder="Password">
			</div>
			<br>
			<div>
				<button type="submit">Login</button>
			</div>
		</form>
		<br>
		<div class="forgot">
			<h4>Forget Password?</h4>
		</div>
	</div>
</div>