<div id="menuBar">
    <ul>
      <li id="active"><a href="">Home</a></li>
       <li><a href="">About Us</a>
        <div id="subMenu-1">
          <ul>
            <li><a href="">Mission</a></li>
            <li id="hoverMe"><a href="">Vision</a><i class="fa fa-angle-right"></i>
              <div id="subMenu-2">
                <ul>
                  <li><a href="">Web Designing</a></li>
                  <li><a href="">Marketing</a></li>
                  <li><a href="">Mobile App</a></li>
                </ul>
              </div>
            </li>
            <li><a href="">Team</a><i class="fa fa-angle-right"></i></li>
          </ul>
        </div>
      </li>
      <li><a href="">Services</a>
        <!-- <div id="subMenu-1">
          <ul>
            <li><a href="">WebDesigning</a></li>
            <li><a href="">Marketing</a></li>
            <li><a href="">Mobile App</a></li>
          </ul>
        </div> -->
      </li>
      <li><a href="">Clients</a></li>
      <li><a href="">Investor</a></li>
      <li><a href="">Pricing</a></li>
      <li><a href="">Training</a></li>
      <li> <a routerLink="/register">Register</a></li>
    </ul>
    </div>
    <router-outlet></router-outlet>