<div class="container">
	<h2>Goods Desccription</h2>
	<p>GST is applicable On all Goods</p>
	<form #goodsForm="ngForm">
		<table class="table ">
			<thead>
				<tr>
					<th>Item Name</th>
					<th>Item Quantity</th>
					<th>Item Price</th>
					<th>GST_CGST</th>
					<th>Total</th>
					<th>Add Item</th>
				</tr>
			</thead>
			<tbody >
				<tr  *ngFor="let eachGoods of newGoods">
					<td>
						{{eachGoods.itemName}}
					</td>
					<td>
						{{eachGoods.itemQuantity}}
					</td>
					<td>
						{{eachGoods.itemPrice}}
					</td>
					<td>{{eachGoods.gst | number: '1.2-2'}}</td>
					<td>{{eachGoods.total | number: '1.2-2'}}</td>
				</tr>
				<tr>
					<td>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Item Name"
							 name="itemName" [(ngModel)]="eachGoods.itemName" value="eachGoods.itemName">
						</div>
					</td>
					<td>
						<div class="form-group">
							<input type="number" class="form-control" placeholder="Item Quantity"
							 name="itemQuantity" (input)="getQuantity(eachGoods)"
							 [(ngModel)]="eachGoods.itemQuantity" value="eachGoods.itemQuantity">
						</div>
					</td>
					<td>
						<div class="form-group">
							<input type="number" class="form-control" placeholder="Item Price"
							 name="itemPrice" (input)="getQuantity(eachGoods)" [(ngModel)]="eachGoods.itemPrice"
							 value="eachGoods.itemPrice">
						</div>
					</td>
					<td name="gst" [(ngModel)]="eachGoods.gst">{{eachGoods.gst}}</td>
					<td name="total" [(ngModel)]="eachGoods.total">{{eachGoods.total}}</td>
					<button class="btn btn-primary" (click)="addItem()">Add More</button>
				</tr>
			</tbody>
		</table>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Sub Total</th>
					<th>All GST</th>
					<th>Grand Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{subTotal}}</td>
					<td>{{allGst  | number: '1.2-2'}}</td>
					<td>{{GrandTotal | number: '1.2-2'}}</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>